<div class="nest-style">

  <div class="nest-form-styling">
    <div id="login-form">

      <h4 class="nest-list-headline">Welcome back!👋</h4>

      <p>Not a member yet? Signup
        <a href="/auth/signup">here</a>
      </p>
      <br>

      <form action="/auth/login" method="POST">

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" placeholder="Your username" required="true" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" name="email" placeholder="Your email" required="true" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" placeholder="Your password" required="true" class="form-control">
        </div>

        {{#if errorMessage}}
        <br>
        <p class="error">{{errorMessage}}</p>
        {{/if}}

        <br>
        <button type="submit" class="btn button-overlay">Login</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


      </form>
    </div>
  </div>
</div>