<div class="nest-style">

  <div class="nest-form-styling">

    <div id="form">

      <h4 class="nest-list-headline">Welcome to NomadNest!👋</h4>
      <h6>Create a profile to</h6>
      <ul>
        <li>Become a host and offer Nests</li>
        <li>Be part of our NomadNest family</li>
      </ul>
      <br>

      <form action="/auth/signup" method="POST">

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" placeholder="Your username" required="true" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" name="email" placeholder="Your email" required="true" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" placeholder="Your password" required="true" class="form-control">
        </div>
        {{#if errorMessage}}
        <br>
        <p class="error">{{errorMessage}}</p>
        {{/if}}
        <br>

        <button type="submit" class="btn btn-light button-overlay">Sign Up</button>

        <br>

        <br>
        <p>Already have an account? Login
          <a href="/auth/login">here</a>
        </p>

        <br>
        <br>
        <br>


      </form>

    </div>
  </div>
</div>