
{{!-- <div class="card bg-dark text-white">
    <h1>Find inspiring workation stays</h1>
    <h4>With a nice community and workspaces, all in one place.</h4>
</div> --}}

<div class="card text-white">
<img src="/images/workation-1.jpg" class="img-fluid front-image" alt="logo">
  <div class="card-img-overlay container text-center mt-5 mb-5 text-overlay">
    <h1 class="card-title">Find inspiring workation stays</h1>
    <h4 class="card-text">With a nice community and workspaces, all in one place.</h4>
  </div>
</div>