
{{!-- <div class="card bg-dark text-white">
    <h1>Find inspiring workation stays</h1>
    <h4>With a nice community and workspaces, all in one place.</h4>
</div> --}}

{{!-- <div class="card text-white">
<img src="/images/workation-1.jpg" class="img-fluid front-image" alt="logo">
  <div class="card-img-overlay container text-center mt-5 mb-5 text-overlay">
    <h1 class="card-title">Find inspiring workation stays</h1>
    <h4 class="card-text">With a nice community and workspaces, all in one place.</h4>
  </div>
</div> --}}

<video autoplay muted controls loop>
    <source src="https://res.cloudinary.com/dzkmmidp3/video/upload/v1686740300/video-starter_kfa1zl.mov" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="text-overlay">
    <h1 class="font-special">Find inspiring workation stays</h1>
    <h5>With a nice community and workspaces, all in one place</h5> <br>
    <a href="/nests/" class="btn button-overlay">Explore!</a>
</div>
