<video autoplay muted controls loop>
  <source src="https://res.cloudinary.com/dzkmmidp3/video/upload/v1686740300/video-starter_kfa1zl.mov" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div class="text-overlay">
  <h1 class="font-special">Find inspiring workation stays</h1>
  <h5>With a nice community and workspaces, all in one place</h5> <br>
  <a href="/nests/" class="btn button-overlay">Explore!</a>
</div>

<div class="container quote-styling">
  <div class="row">
    <div class="col-2 align-self-end text-end">
      <img class="quote-icon" src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686810283/icon-quote_vsvcjb.png"
        alt="Logo">
    </div>
    <div class="col-8 quote-text">
      <h5>"Community is the foundation upon which we build our lives, the support system that lifts us up, and the
        source of inspiration that propels us forward."</h5>
    </div>
    <div class="row">
      <div class="col-8 text-end quote-styling-author">
        <p>- Michelle Obama</p>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>