<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light ">

    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="/images/Logo.png" alt="Logo">
      </a>

      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link">
            {{#if currentUser}}
            <p class="welcome-user">Hi {{currentUser.username}} ✌️</p>
            {{/if}}
          </a>

          <a class="nav-link" href="/nests/">Find a Nest</a>
          <a class="nav-link" href="/nests/create">Offer a Nest</a>

          {{#if currentUser}}
          <form id="logout-form" method="GET" action="/auth/logout">
            <button class="nav-link btn btn-light">Logout</button>
          </form>
          {{else}}
          <a class="nav-link" href="/auth/signup">Signup</a>
          <a class="nav-link" href="/auth/login">Login</a>
          {{/if}}

        </div>
      </div>
  </nav>

  {{{body}}}

{{!-- CONNECT GOOGLE MAPS --}}
  {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBklj486JNzgr5aXy3N-ssjvyjzYtN4qFA"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script> --}}

<footer>
  <hr>
<div class="container text-left">
  <div class="row ">
    <div class="col">
      <p>
Get in touch <br>
Call us at +833 3772 955. <br>
NomadNest <br>
Thisone Street 999, z 21 <br>
0087 Springfield <br>
      </p>

    </div>
    <div class="col">
      <p>
About NomadNest <br>
Meet the team <br>
Rental insurance <br>
Renting terms <br>
Privacy Policy <br>
      </p>

    </div>
    <div class="col text-center ">
      <p> Follow us and share:</p> <br>
      <div class="payment d-flex justify-content-between">

      <img class="socials" src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686752459/9165582_tik_tok_icon_hmjmzp.png" alt="tik tok">
      <img class="socials" src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686752459/5279112_camera_instagram_social_media_instagram_logo_icon_m8d4te.png" alt="instagram">
      <img class="socials" src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686752458/5340246_chat_communication_message_wa_whatsapp_icon_axsb5g.png" alt="whatsApp">
   </div>
  </div>
</div>


<hr>
<div class="col text-center "> 
<div class="payment d-flex justify-content-between">
 
      <p>
You can pay with:
      </p>
      <br>

   
  <img src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686757402/728973_credit_card_mastercard_payment_card_pay_icon_r1rsip.png" alt="mastercard">
  <img src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686757402/206684_visa_method_card_payment_icon_vrocfh.png" alt="visa">
  <img src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686757402/1156727_finance_payment_paypal_icon_s5cm2x.png" alt="paypal">
    
    <br>
  <img src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686757402/4518982_apple_pay_icon_fl3wkq.png" alt="apple-pay">
      <img src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686757376/7123945_logo_pay_google_gpay_icon_bymvhh.png" alt="google-pay">
      <img src="https://res.cloudinary.com/dzkmmidp3/image/upload/v1686757402/206681_payment_bitcoin_method_icon_m2xc5c.png" alt="bitcoin">
  
  
</div>
</div>


</footer>






  <script src="/js/script.js"></script>
</body>







</html>